    img[src="../images/restaurant.jpg"]
    {
        max-height: 300px;
        opacity: .8;
        font-size: 36px;
    }
    img[src="../images/bus.jpg"]
    {
        max-height: 300px;
        opacity: .8;
    }
    img[src="../images/simba.jpg"]
    {
        max-height: 300px;
        opacity: .8;
        color: red !important;
    }

    .jumbo-img
    {
        background-image: url('bus.jpg');
        margin-bottom: 0px !important;
        background-size: cover;
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar
    {
        margin-bottom: 0px;
    }
    .container-fluid
    {
        padding: 0px;
    }
    .side-list
    {
        background: pink;
        height: 100px;
    }
    .sidebar-search
    {
        padding: 0px;
        margin: 0px;
        background: pink;
    }
   body
    {
        background: #cccccc;
    }

    /*.row .col-md-6 .
    {
        border: 5px solid red;
        max-height: 200px;
        min-width: 300px;
    }*/
    .thumbnail img{
        height: 200px;
        width: 600px;
    }
    .setimg1 img{
        height: 200px;
        width: 400px;
    }
    .thumbnail p a{
        text-decoration: none;
        margin: 0px;
        letter-spacing: 3px;
        word-spacing: 2px;
    }
    .thumbnail p
    {
        line-height: 18px;
    }
    .light-grey
    {
        background: #efefef !important;
        
    }
    .thumbnail
    {
        background: #f5f9ff;
        box-shadow: 0px 0px 20px 0px grey;
    }

    .row .col-sm-6 .thumbnail a
    {
        margin: 0px;
        letter-spacing: 3px;
        word-spacing: 2px;
    }

    button
    {
        border: 4px solid red;
    }